# .gitignore

# jekyll stuff
_site/
_posts/
_img/
.sass-cache
.jekyll-cache
.jekyll-metadata


# don't include links
*.lnk
*.url

# editor stuff
.vscode
*.code-*

# don't include WIP, notes, etc.
_notready/

*.pln
*.pla
*.mod